<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration debug="false" xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- This default ConsoleAppender is used to log all NON perf4j messages
		to System.out -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] [%t] %d{MM-dd HH:mm:ss,SSS} [%c{1}] - %m%n" />
		</layout>
	</appender>

	<appender name="ApiService" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="/Users/walterh/temp/api-server/api-server.log" />
		<param name="DatePattern" value="'.'yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%p] [%t] %d{MM-dd HH:mm:ss,SSS} [%c{1}] - %m%n" />
		</layout>
	</appender>

	<!-- Perf4J appenders -->
	<!-- This AsyncCoalescingStatisticsAppender groups StopWatch log messages
		into GroupedTimingStatistics messages which it sends on the file appender
		defined below -->
	<appender name="CoalescingStatistics" class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
		<param name="TimeSlice" value="30000" />
		<appender-ref ref="fileAppender" />
		<appender-ref ref="graphExecutionMean" />
		<appender-ref ref="graphExecutionTPS" />
		<appender-ref ref="graphExecutionMin" />
		<appender-ref ref="graphExecutionMax" />
		<appender-ref ref="graphExecutionStdDev" />
		<appender-ref ref="graphExecutionCount" />
		<!-- appender-ref ref="perf4jJmxAppender" /-->
	</appender>

	<appender name="CoalescingStatisticsLastDay" class="org.perf4j.log4j.AsyncCoalescingStatisticsAppender">
		<param name="TimeSlice" value="600000" />
		<appender-ref ref="fileAppenderLastDay" />
		<appender-ref ref="graphExecutionMeanLastDay" />
		<appender-ref ref="graphExecutionTPSLastDay" />
		<appender-ref ref="graphExecutionMinLastDay" />
		<appender-ref ref="graphExecutionMaxLastDay" />
		<appender-ref ref="graphExecutionStdDevLastDay" />
		<appender-ref ref="graphExecutionCountLastDay" />
		<!-- appender-ref ref="perf4jJmxAppender" /-->
	</appender>

	<!-- This file appender is used to output aggregated performance statistics -->
	<appender name="fileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="/Users/walterh/temp/api-server/perfStats.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<appender name="graphExecutionMean" class="org.perf4j.log4j.GraphingStatisticsAppender">
		<param name="GraphType" value="Mean" />
		<appender-ref ref="graphsFileAppender" />
	</appender>

	<appender name="graphExecutionTPS" class="org.perf4j.log4j.GraphingStatisticsAppender">
		<param name="GraphType" value="TPS" />
		<appender-ref ref="graphsFileAppender" />
	</appender>

	<appender name="graphExecutionMin" class="org.perf4j.log4j.GraphingStatisticsAppender">
		<param name="GraphType" value="Min" />
		<appender-ref ref="graphsFileAppender" />
	</appender>

	<appender name="graphExecutionMax" class="org.perf4j.log4j.GraphingStatisticsAppender">
		<param name="GraphType" value="Max" />
		<appender-ref ref="graphsFileAppender" />
	</appender>

	<appender name="graphExecutionStdDev" class="org.perf4j.log4j.GraphingStatisticsAppender">
		<param name="GraphType" value="StdDev" />
		<appender-ref ref="graphsFileAppender" />
	</appender>

	<appender name="graphExecutionCount" class="org.perf4j.log4j.GraphingStatisticsAppender">
		<param name="GraphType" value="Count" />
		<appender-ref ref="graphsFileAppender" />
	</appender>


	<!-- This file appender is used to output the graph URLs generated by the
		GraphingStatisticsAppenders -->
	<appender name="graphsFileAppender" class="org.apache.log4j.FileAppender">
		<param name="File" value="/Users/walterh/temp/api-server/perfGraphs.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<!-- This JMX appender creates an MBean and publishes it to the platform MBean server by default. -->
	<!-- appender name="perf4jJmxAppender"
		class="org.perf4j.log4j.JmxAttributeStatisticsAppender">
		<param name="TagNamesToExpose" value="finalizeMessage,createMedia" />
		<param name="NotificationThresholds"
			value="finalizeMessageMax(0-800),finalizeMessageMax(&lt;1500)" />
	</appender-->

	<!-- Loggers -->
	<!-- The Perf4J logger. Note that org.perf4j.TimingLogger is the value of
		the org.perf4j.StopWatch.DEFAULT_LOGGER_NAME constant. Also, note that additivity
		is set to false, which is usually what is desired - this means that timing
		statements will only be sent to this logger and NOT to upstream loggers. -->

	<!-- This file appender is used to output aggregated performance statistics -->
	<appender name="fileAppenderLastDay" class="org.apache.log4j.FileAppender">
		<param name="File" value="/Users/walterh/temp/api-server/perfStatsLastDay.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<appender name="graphExecutionMeanLastDay" class="org.perf4j.log4j.GraphingStatisticsAppender">
		<param name="GraphType" value="Mean" />
		<appender-ref ref="graphsFileAppender" />
	</appender>

	<appender name="graphExecutionTPSLastDay" class="org.perf4j.log4j.GraphingStatisticsAppender">
		<param name="GraphType" value="TPS" />
		<appender-ref ref="graphsFileAppender" />
	</appender>

	<appender name="graphExecutionMinLastDay" class="org.perf4j.log4j.GraphingStatisticsAppender">
		<param name="GraphType" value="Min" />
		<appender-ref ref="graphsFileAppender" />
	</appender>

	<appender name="graphExecutionMaxLastDay" class="org.perf4j.log4j.GraphingStatisticsAppender">
		<param name="GraphType" value="Max" />
		<appender-ref ref="graphsFileAppender" />
	</appender>

	<appender name="graphExecutionStdDevLastDay" class="org.perf4j.log4j.GraphingStatisticsAppender">
		<param name="GraphType" value="StdDev" />
		<appender-ref ref="graphsFileAppender" />
	</appender>

	<appender name="graphExecutionCountLastDay" class="org.perf4j.log4j.GraphingStatisticsAppender">
		<param name="GraphType" value="Count" />
		<appender-ref ref="graphsFileAppender" />
	</appender>


	<!-- This file appender is used to output the graph URLs generated by the
		GraphingStatisticsAppenders -->
	<appender name="graphsFileAppenderLastDay" class="org.apache.log4j.FileAppender">
		<param name="File" value="/Users/walterh/temp/api-server/perfGraphsLastDay.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<!-- This JMX appender creates an MBean and publishes it to the platform
		MBean server by default. -->
	<!-- appender name="perf4jJmxAppender"
		class="org.perf4j.log4j.JmxAttributeStatisticsAppender">
		<param name="TagNamesToExpose" value="finalizeMessage,createMedia" />
		<param name="NotificationThresholds"
			value="finalizeMessageMax(0-800),finalizeMessageMax(&lt;1500)" />
	</appender-->


	<logger name="org.perf4j.TimingLogger" additivity="true">
		<level value="warn" />
		<appender-ref ref="CoalescingStatistics" />
		<appender-ref ref="CoalescingStatisticsLastDay" />
	</logger>

	<!-- Application Loggers -->
	<logger name="com.llug.api">
		<level value="debug" />
		<appender-ref ref="ApiService" />
	</logger>

	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.social">
		<level value="info" />
	</logger>

	<logger name="org.springframework.core">
		<level value="info" />
	</logger>

	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>

	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web.servlet">
		<level value="info" />
	</logger>

	<logger name="org.springframework.security">
		<level value="info" />
	</logger>

	<logger name="com.amazonaws.request">
		<level value="warn" />
	</logger>
    
    <logger name="com.zaxxer">
        <level value="info" />
        <appender-ref ref="console" />
    </logger>

	<!-- http://stackoverflow.com/questions/2862780/how-to-disable-hibernate-flooding-logs -->
	<!-- Disable all Hibernate logging.  If there is a Hibernate error, we will log.  This reduces double-logging -->
	<logger name="org.hibernate">
		<level value="warn" />
	</logger>

	<logger name="log4j.logger.org.hibernate">
		<level value="warn" />
	</logger>


	<!-- The root logger sends all log statements EXCEPT those sent to the perf4j
		logger to System.out. -->
	<root>
		<level value="warn" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>
