<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true">
    <property name="LOG_DIR" value="/Users/walterh/temp/api-server" />

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d %-4relative %-5level %logger{36} %X{ID_START}%X{UUID}%X{SESSION_ID}%X{ID_END} - %msg%n%ex</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/api-server.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <Pattern>%d %-4relative %-5level %logger{36} %X{ID_START}%X{UUID}%X{SESSION_ID}%X{ID_END} - %msg%n%ex</Pattern>
        </encoder>
    </appender>
    
    <!-- This file appender is used to output aggregated performance statistics -->
    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--
            <Pattern>%date %-5level [%thread] %logger{36} [%file:%line] %msg%n</Pattern>
            -->
            <Pattern>%m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/perfStats.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>
    
    <!-- This file appender is used to output aggregated performance statistics -->
    <appender name="fileAppenderLastDay" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/perfStatsLastDay.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>
    
    <!-- This file appender is used to output the graph URLs generated by the GraphingStatisticsAppenders -->
    <appender name="graphsFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>>${LOG_DIR}/perfGraphs.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>
    
    <!-- This file appender is used to output the graph URLs generated by the GraphingStatisticsAppenders -->
    <appender name="graphsFileAppenderLastDay" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%m%n</Pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/perfGraphsLastDay.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>




    <appender name="graphExecutionMean" class="org.perf4j.logback.GraphingStatisticsAppender">
        <param name="GraphType" value="Mean" />
        <appender-ref ref="graphsFileAppender" />
    </appender>

    <appender name="graphExecutionTPS" class="org.perf4j.logback.GraphingStatisticsAppender">
        <param name="GraphType" value="TPS" />
        <appender-ref ref="graphsFileAppender" />
    </appender>

    <appender name="graphExecutionMin" class="org.perf4j.logback.GraphingStatisticsAppender">
        <param name="GraphType" value="Min" />
        <appender-ref ref="graphsFileAppender" />
    </appender>

    <appender name="graphExecutionMax" class="org.perf4j.logback.GraphingStatisticsAppender">
        <param name="GraphType" value="Max" />
        <appender-ref ref="graphsFileAppender" />
    </appender>

    <appender name="graphExecutionStdDev" class="org.perf4j.logback.GraphingStatisticsAppender">
        <param name="GraphType" value="StdDev" />
        <appender-ref ref="graphsFileAppender" />
    </appender>

    <appender name="graphExecutionCount" class="org.perf4j.logback.GraphingStatisticsAppender">
        <param name="GraphType" value="Count" />
        <appender-ref ref="graphsFileAppender" />
    </appender>

    <!--
      This JMX appender creates an MBean and publishes it to the platform MBean server by
      default.
    -->
    <appender name="perf4jJmxAppender" class="org.perf4j.logback.JmxAttributeStatisticsAppender">
        <!--
          You must specify the tag names whose statistics should be exposed as
          MBean attributes.
        -->
        <TagNamesToExpose>firstBlock,secondBlock</TagNamesToExpose>
        <!--
          The NotificationThresholds param configures the sending of JMX notifications
          when statistic values exceed specified thresholds. This config states that
          the firstBlock max value should be between 0 and 800ms, and the secondBlock max
          value should be less than 1500 ms. You can also set thresholds on the Min,
          Mean, StdDev, Count and TPS statistics - e.g. firstBlockMean(<600).

        <NotificationThresholds>firstBlockMax(0-800),secondBlockMax(<1500)</NotificationThresholds>-->
        <!--
          You can also specify an optional MBeanName param, which overrides
          the default MBean name of org.perf4j:type=StatisticsExposingMBean,name=Perf4J
        -->
    </appender>


    <appender name="graphExecutionMeanLastDay" class="org.perf4j.logback.GraphingStatisticsAppender">
        <param name="GraphType" value="Mean" />
        <appender-ref ref="graphsFileAppenderLastDay" />
    </appender>

    <appender name="graphExecutionTPSLastDay" class="org.perf4j.logback.GraphingStatisticsAppender">
        <param name="GraphType" value="TPS" />
        <appender-ref ref="graphsFileAppenderLastDay" />
    </appender>

    <appender name="graphExecutionMinLastDay" class="org.perf4j.logback.GraphingStatisticsAppender">
        <param name="GraphType" value="Min" />
        <appender-ref ref="graphsFileAppenderLastDay" />
    </appender>

    <appender name="graphExecutionMaxLastDay" class="org.perf4j.logback.GraphingStatisticsAppender">
        <param name="GraphType" value="Max" />
        <appender-ref ref="graphsFileAppenderLastDay" />
    </appender>

    <appender name="graphExecutionStdDevLastDay" class="org.perf4j.logback.GraphingStatisticsAppender">
        <param name="GraphType" value="StdDev" />
        <appender-ref ref="graphsFileAppenderLastDay" />
    </appender>

    <appender name="graphExecutionCountLastDay" class="org.perf4j.logback.GraphingStatisticsAppender">
        <param name="GraphType" value="Count" />
        <appender-ref ref="graphsFileAppenderLastDay" />
    </appender>


    <!-- This JMX appender creates an MBean and publishes it to the platform
        MBean server by default. -->
    <!-- appender name="perf4jJmxAppender"
        class="org.perf4j.log4j.JmxAttributeStatisticsAppender">
        <param name="TagNamesToExpose" value="finalizeMessage,createMedia" />
        <param name="NotificationThresholds"
            value="finalizeMessageMax(0-800),finalizeMessageMax(&lt;1500)" />
    </appender-->
    <!-- Loggers -->
    <!--
      The Perf4J logger. Note that org.perf4j.TimingLogger is the value of the
      org.perf4j.StopWatch.DEFAULT_LOGGER_NAME constant. Also, note that
      additivity is set to false, which is usually what is desired - this means
      that timing statements will only be sent to this logger and NOT to
      upstream loggers.
    -->
    
    
    
    
    <!-- Perf4J appenders -->
    <!-- http://stackoverflow.com/questions/10850352/perf4j-settings-for-logback-xml -->
    <appender name="CoalescingStatistics" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="30000" />

        <appender-ref ref="fileAppender" />

        <appender-ref ref="graphExecutionMean" />
        <appender-ref ref="graphExecutionTPS" />
        <appender-ref ref="graphExecutionMin" />
        <appender-ref ref="graphExecutionMax" />
        <appender-ref ref="graphExecutionStdDev" />
        <appender-ref ref="graphExecutionCount" />
        
        <!-- We add the JMX Appender reference onto the CoalescingStatistics -->
        <!--
        <appender-ref ref="perf4jJmxAppender" />
        -->
    </appender>

    <appender name="CoalescingStatisticsLastDay" class="org.perf4j.logback.AsyncCoalescingStatisticsAppender">
        <param name="TimeSlice" value="600000" />

        <appender-ref ref="fileAppenderLastDay" />

        <appender-ref ref="graphExecutionMeanLastDay" />
        <appender-ref ref="graphExecutionTPSLastDay" />
        <appender-ref ref="graphExecutionMinLastDay" />
        <appender-ref ref="graphExecutionMaxLastDay" />
        <appender-ref ref="graphExecutionStdDevLastDay" />
        <appender-ref ref="graphExecutionCountLastDay" />
   
        <!-- We add the JMX Appender reference onto the CoalescingStatisticsLastDay -->
        <!--
        <appender-ref ref="perf4jJmxAppender" />
        -->
    </appender>
    
    <!-- This file appender is used to output aggregated performance statistics -->
    <appender name="perf4jFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <Pattern>%date %-5level [%thread] %logger{36} [%file:%line] %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${LOG_DIR}/perf4j.%d{yyyy-MM-dd}.log</FileNamePattern>
        </rollingPolicy>
    </appender>


    <logger name="org.perf4j.TimingLogger" additivity="false">
        <level value="INFO" />
        <appender-ref ref="CoalescingStatistics" />
        <appender-ref ref="CoalescingStatisticsLastDay" />
        <appender-ref ref="perf4jFileAppender" />
    </logger>
    
    <!-- useful for debugging session state -->
    <logger name="com.llug.api.repository.MemcacheRepository" level="debug" />
    <logger name="com.llug.api.repository.MemcachedSecurityContextRepository" level="debug" />

    <!-- db pool & hibernate -->
    <logger name="com.zaxxer" level="debug" />
    <logger name="org.hibernate" level="warn" />

    <logger name="org.springframework.core" level="warn" />
    <logger name="org.springframework.social" level="info" />
    <logger name="org.springframework.beans" level="warn" />
    <logger name="org.springframework.context" level="warn" />
    <logger name="org.springframework.web" level="warn" />
    <logger name="org.springframework.security" level="warn" />
    <logger name="org.springframework.jdbc" level="warn" />
    <logger name="org.springframework.integration" level="warn" />
    <logger name="org.springframework" level="warn" />

    <!-- xmemcached, https://github.com/killme2008/xmemcached -->
    <logger name="net.rubyeye.xmemcached" level="warn" />
    <logger name="com.google.code.yanf4j" level="warn" />

    <logger name="com.amazonaws.request" level="warn" />
    <logger name="ch.qos.logback.classic.joran" level="warn" />
    <logger name="org.apache.commons" level="warn" />
    <logger name="httpclient.wire" level="warn" />
    <logger name="org" level="error" />


    <root level="warn">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>
</configuration>